body {
	background-image:url(../images/background.jpg);
	background-color:grey;
}

.ui.container {
	background-color:#ffe6ff;
	margin:0.5% 15%;
}

#intro {
	color:#666666;
	padding:0.5% 3%;
	font-family:Verdana, sans-serif;
	background-color:#e6e6e6;
	text-align:justify;
}

h2 {
	text-decoration:underline;
}

#about1 {
	text-align:justify;
	line-height:1.5em;
	margin-top:1.5%;
}

#about2 {
	text-align:justify;
	margin-top:1.5%;
}

.ui.large.fluid.middle.aligned.image {
	float:left;
}

.ui.small.circular.image {
	margin-left:30%;
}

.ui.comments {
	background-color:#ffffff;
	max-width:100%;
	padding:2%;
}

.ui.table {
	margin:0.5% 3%;
	font-size:0.9em;
}

a {
	color:#cccccc;
}

a:hover {
	color:#000000;
}

#contact, #order {
	font-size:1.1em;
}

#contact {
	margin:0 2%;
}

#order, #ordernote {
	text-align:center;
	font-style:italic;
}

#order {
	margin-top:2%;
}

#ordernote {
	font-size:0.85em;
}

.ui.form {
	padding:2%;
	background-color:#e6e6e6;
	width:100%;
}

.ui.button {
	background-color:#ffffff;
}

#process {
	text-align:center;
}

#process>a {
	background-color:#ffffff;
	padding:1%;
	color:#000000;
}

#process>a:hover {
	color:#cccccc;
}